@model Shortener_Link.DTO.CreateLinkDTO;

<form method="post" action="/">
    <input type="text" placeholder="Enter a link" name="OriginalLink" autofocus required/>
    <input type="text" placeholder="Enter a endpoint" name="Endpoint"/>
    <button>Get Short Link</button>
</form>